<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="Database" connectionString="server=2122chapeau.database.windows.net;database=db_INF1a1;User ID=groep_INF1a1;password=ry4bD+uwJ*PA"/>
	</connectionStrings>
</configuration>
